body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.center-div {
  width: 400px;
  height: auto;
  background-color: #3b3a3a;
  box-shadow: 0 4px 8px rgba(39, 36, 36, 0.2);
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #333;
  padding: 5%;
  border-radius: 15px;

      h1,h2,h3,h4,h5,h6 {
        
        margin: 0;
        text-align: center;
      }
      h1{
        color: white;
        font-style: initial;
      }
      h4{
        color: rgb(196, 245, 97);
        font-style: normal;
      }
      p{
        text-align: center;
        color: white;
        font-style: normal;
      }
      img{
        align-items: center;
        border-radius: 50%;
      }
ul{
    list-style-type: none;
  
    
}
li{
    margin-bottom: 8px;
    color: black;
}

button {
  width:85%;
  padding:5%;
  border-radius: 10px;
  color: white;
  background-color: #333;
}